li a {
	color: black;
	font-size: 25px
}

body {
    background-image: url("images/1.jpg") ;
	background-repeat: no-repeat;

    background-size: cover;


}
.footer{
    font-weight:bold;
	font-size:15x;
	background-color:#f19f4d;
	margin-top:10px;
	padding:10px;
	line-height:3px;
position:fixed;
width:100%;
    bottom: 0px;
}
